/* @import "bootstrap.css"; */

@import "tufte.css";

/*  Makes certain elements non-selectable */

.linenumber, .pagenumber, .sidenote, img {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
/*    background-color: #fffff8; */
    color: #111;
    width: 100%;
    max-width: none;
    font-family: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
}

/*  main {
    pointer-events: none;
}

main:hover {
    background-color: rgba(17, 17, 17, 0.25);
} */

.col-md {
    max-width: 55%;
}

/* .col-sm {
    max-width: 40%;
} */

.sidenote, .marginnote {
    margin-right: -45%;
    width: 40%;
    font-size: 1rem;
    text-indent: initial;
}

.sidenote a {
    text-decoration: underline;
}

.fulltext {
    width: 55%;
    margin-left: 15%;
}

.diplomatic .sidenote {
    margin-right: 0;
    width: 30%
}

.fulltext .marginnote {
    float: left;
    clear: left;
    margin-left: -30%;
    opacity: .5;
    font-size: .8rem;
}

.fulltext .marginnote:hover {
    opacity: 1;
}

.fulltext .thumbnail {
    width: 100px;
}

label {
    text-indent: initial;
    margin: 0;
}

header {
    padding: 2rem;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: inherit;
    width: 100%;
    /*  background-image: url("../img/Demonstrera%20alla%20dagar!.jpg"); */
/*    background-image: linear-gradient(to right, rgba(219, 186, 130, 0), rgba(255, 255, 248, 1)), url("../img/Demonstrera%20alla%20dagar!.png");
    background-position: top left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 135%; */
}

nav {
    position: fixed;
    text-align: center;
    top: 6rem;
    z-index: 100;
    background-color: inherit;
    margin-bottom: 1rem;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    padding: 1rem;
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

main {
    position: relative;
    top: 12rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
}

footer {
    width: 100%;
    position: relative;
    border-top: 1px solid;
    padding: 1rem;
    margin-top: 12rem;
}

* h1, h2, h3, nav, footer {
    text-align: center;
}

h1 {
    margin: 0;
}

p {
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-top: 0.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

p.verse, p.list {
    margin-top: -1.5rem; /* to counteract the <br> before the first line */
}

u.double {
    text-decoration-style: double;
}

u.triple {
	border-bottom: 3px double;
	line-height: 1.7em;
}

span.indent {
    margin-left: 2em;
}

/* to fix indentation in already indented sections */
.indent .indent {
    margin-left: 4em;
}

/*  to fix weird strike-through behaviour on Firefox and add colour */
del {
  text-decoration: underline .1em;
  text-underline-offset: -.3em;
  text-decoration-skip-ink: none;
  text-decoration-color: red;
}

.unclear::before {
    content: "{";
}

.unclear::after {
    content: "?}";
}


.delSpan {
    color: blue;
    }
    
.diplomatic .delPencil {
    color: gray;
}

.diplomatic .delInk {
    color: red;
}

.reading .delInk, .fulltext .delInk {
    display: none;
}

.linenumber {
    margin-right: 2rem;
    color: gray;
    font-size: .8rem;
    }

.pagenumber {
    color: gray;
    font-size: .8rem;
    text-align: center;
    margin: 0;
}

/*  for handShift */
.pencil {
    color: gray;
}

.ink {
    color: inherit;
}

/* make sure that <emph> inside a <choice> gets italicized when needed */
em, em .choice {
    font-style: italic;
}

div.index, {
    display: none;
}

#details {
    padding: 2vw;
    margin: 1vw;
    text-align: center;    
}

.copyright {
    width: 50%;
    margin: auto;
}

.copyright_logos, .copyright_text {
    display: inline;
}

.copyright_logo {
    width: 1vw;
    margin:.15vw;
}

#collection {
    display: fixed;
    width: 200%;
}

.thumbnail {
    margin: 5px;
    /* border: 1px solid #111;*/
    width: 250px;
    opacity: .5;
}

.thumbnail:hover {
    opacity: 1;
}

.img-full-r {
    /* border: 1px solid #111; */
    width: 500px;
    max-width: none;
    z-index: 0;
    position: relative;
}

.img-full-v {
    width: 500px;
    max-width: none;
    z-index: 1;
    position: relative;
}


.click-zoom input[type=checkbox] {
  display: none
}

.click-zoom img {
  transition: transform .1s ease;
  cursor: zoom-in;
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(2);
  cursor: zoom-out;
  position: relative;
  z-index: 200;
  border: 0;
  margin: 0;
  padding: 0;
}

/*create tooltips from choice elements*/
.choice {
  display: inline-block;
  position: relative;
  cursor: pointer;
/*  color: #3bb4e5; */
  border-bottom: 0.05em dotted #111111; /* #3bb4e5; */
  box-sizing: border-box;
  font-style: normal;
  transition:all .5s ease-in-out
}

.choice:hover {
    color:#069;border-bottom:0.05em dotted #069;
}

/*the tip*/
.choice:before {
  content: attr(data-title);
  font-size: 14px;
  position: absolute;
  background: rgba(10, 20, 30, 0.85);
  color: #fff;
  line-height: 1.2em;
  padding: 0.5em;
  font-style: normal;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  min-width: 120px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  letter-spacing: 0;
  font-weight: 600
}
.choice:after {
  width: 0;
  height: 0;
  border-style: solid;
  content: '';
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out
}
.choice:hover:before,
.choice:hover:after {
  visibility: visible;
  opacity: 1
}
/*top*/
.choice:before {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 8px));
  box-sizing: border-box;
  border-radius: 3px;
}
.choice:after {
  border-width: 8px 8px 0 8px;
  border-color: rgba(10, 20, 30, 0.85) transparent transparent transparent;
  top: -8px;
  left: 50%;
  transform: translate(-50%, 0);
}
/*bottom*/
.tooltip.bottom:before {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 8px));
  box-sizing: border-box;
  border-radius: 3px;
}
.tooltip.bottom:after {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent rgba(10, 20, 30, 0.85) transparent;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, 0);
}
/*left*/
.tooltip.left:before {
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 8px), -50%);
  box-sizing: border-box;
  border-radius: 3px;
}
.tooltip.left:after {
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent rgba(10, 20, 30, 0.85);
  left: -8px;
  top: 50%;
  transform: translate(0, -50%);
}
/*right*/
.tooltip.right:before {
  right: 0;
  top: 50%;
  transform: translate(calc(100% + 8px), -50%);
  box-sizing: border-box;
  border-radius: 3px;
}
.tooltip.right:after {
  border-width: 8px 8px 8px 0;
  border-color: transparent rgba(10, 20, 30, 0.85) transparent transparent;
  right: -8px;
  top: 50%;
  transform: translate(0, -50%);
}

/* Adds dark mode */
@media (prefers-color-scheme: dark) {
    h1 {
        color: #ddd;
    }
    footer {
        border: 1px solid #ffff8;
    }
    body {
        background-color: #151515;
        color: #ddd;
    }
    nav {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
}